@media screen and (max-width: 768px) {}

@media screen and (min-width: 768px) {


div.galleria-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        border: 1px rgb(167, 41, 41);
    }

/* div.galleria-container img {
    max-width: 150%;
    height: 600px;
} */

    /* .p-galleria-item-wrapper {
        max-width: 99%;
        min-width: 99%;
        max-height: 10%;
        min-height: 10%;
        align-items: center;
    } */
}