@media screen and (max-width: 768px) {
  .navigation {
    display: flexbox;
    flex-direction: column;
  }
}


@media screen and (min-width: 768px) {
  .navigation {
    margin-right: 15%;
    margin-top: 50px;
  }

  .logo {
    margin-left: 8%;
    margin-top: 20px;
  }

  div.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
  }
}