@import "tailwindcss";

@media screen and (max-width: 768px) {
  .navigation {
    display: flexbox;
    flex-direction: column;
  }
}


@media screen and (min-width: 768px) {
  .navigation {
    /* margin-right: 15%;
    margin-top: 50px; */

    @apply mr-[15%] mt-[50px] 

  }

  .logo {
    /* margin-left: 8%;
    margin-top: 20px; */

    @apply mt-[20px] ml-[8%]
  }

  div.container {
     /* width: 100%; */
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite; */
    @apply min-w-full flex justify-between items-center bg-amber-100 pb-0.5 pt-4 
  }



  .menu-button {
    @apply inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .menu-items {
    @apply origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black  focus:outline-none;
  }

  .menu-item {
    @apply text-gray-700 block px-4 py-2 text-sm;
  }

}